services:
  db:
    image: postgres:15 ## postgresql image of docker
    environment:
      POSTGRES_DB: portfolio
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: shrestha
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_NAME=portfolio
      - DB_USER=postgres
      - DB_PASSWORD=shrestha
      - DB_HOST=db
      - DB_PORT=5432

volumes:
  postgres_data:
